/* Could turn to JSS if wanting to turn into dynamic themes=> light || dark theme */

.header-container {
  max-width: 1140px;
  margin: 0 auto;
}

.header-container .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px auto 16px auto;
    float: left;
}

.header-container ul{
    float: right;
}